:root {
  /*Color Variables*/
  --primary-color: #680000;
  --main-bg-color: #F0F0F0;
  --dark-color: #020202;
  --light-color: lightgray;
  --click-bg-color: #BDBDBD;
  --soft-color: #F0F0F0;
  --white-color: #F5F5F5;
  --secondary-color: #444444;
  --yellow-color: #ffc107;

  /*Font Families*/
  --heading-font: "Montserrat-Bold";
  --body-font: "Montserrat";
  --specific-font: "Ubuntu";
  --light-font: "Montserrat-Light";
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}


html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-bg-color, #F8F8F8);
  margin: 0;
  min-height: 100vh
}

button[type="submit"] {
  color: var(--white-color, white);
  background-color: var(--primary-color, black);
  width: min(60px, 25%);
  height: 40px;
  border: none;
  border-radius: 5px;
  margin-right: 5px
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  padding-inline: 1rem;
  border-bottom: 1px solid var(--yellow-color, darkgray);
  z-index: 1;
}

nav div.first-heading {
  flex: .5;
}

h1 {
  font-size: 1.35em;
  margin: 0;
  margin-left: 10%;
}

h3 {
  color: var(--dark-color, black);
}

nav div.toggler-container {
  flex: .15;
  display: flex;
  justify-content: center;
  margin-right: 2rem;
  border-left: 1px solid darkgray
}

nav #sidebar-toggler {
  display: none;
  min-width: 40px;
  height: 35px;
  border-radius: 4px;
  border: none;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section>div.section-description>p {
  margin-inline: 0.5rem;
  font-weight: 300;
}

ul {
  padding-left: 1rem;
}

li {
  margin-block: 0.5rem;
}

div:has(>.subsection) {
  width: 100%;
}

a:hover:not(.clicked) {
   opacity: .5;
 background-color: var(--light-color, lightgray);
}

.clicked {
  opacity: .25;
  background-color: var(--click-bg-color, #BDBDBD);
}

.subsection {
  background-color: var(--white-color, white);
  margin: 1.5rem 0;
  padding: 1rem;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(10, 10, 10, 0.05);
}

.subsection>h5 {
  margin-bottom: 5%
}

.container-fluid {
  width: calc(100% - 2*5%);
  padding: 3% 5%;
}

.container {
  padding: 1.5rem 2.5%;
  margin-inline: 0.5rem;
  width: calc(100% - 5% - 1rem);
}

.container ul.list-head-section {
  padding: 2%;
}

.dark-section {
  background-color: var(--secondary-color, #020202);
  color: var(--main-bg-color, #f8f8f8);
}

.light-section {
  color: var(--secondary-color, #020202);
  background-color: var(--main-bg-color, #f8f8f8);
}

.big-heading {
  font-size: 1.5rem;
  font-family: var(--specific-font, "Times New Roman");
  line-height: 1.5;
}

.section-heading {
  font-size: 1.25rem;
  font-family: var(--specific-font, "Times New Roman");
  line-height: 1.5;
  padding: auto 5%;
}

.header-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  background-color: darkgray;
  color: var(--secondary-color, #020202);
  margin-bottom: 7%;
  padding: 5px;
  border-radius: 5px;
}

.header-div div {
  display: flex;
  align-items: center;
}

.header-icon {
  flex: .15;
  justify-content: center;
  padding-left: 5px;
  border-radius: 10%;
}


.header-div .header-text {
  flex: .8;
  justify-content: flex-start;
  margin: 0;
  line-height: unset;
}

.header-div h3 {
  margin: 0 0 0 1.5rem
}

/* Section Titre */

#titre {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  background-color: var(--secondary-color)
}

#titre nav.navbar {
  justify-self: flex-start;
  align-self: flex-end;
}

#titre-info {
  display: flex;
  align-self: center;
  flex-direction: column;
  align-items: center;
  width: 45vw;
  min-width: 300px;
  padding-bottom: inherit;
  margin-top: 1.5rem;
}


#titre-info .separator-div {
  width: 150px;
  height: auto;
  border: 1px solid var(--yellow-color, #ffc107);
  border-radius: 50%;
}

#outline-box {
  border: 1px solid var(--yellow-color);
  border-radius: 5px;
  border-top-style: none;
  margin: 15% 5% auto;
}

#outline-box hr {
  margin: 0;
  border: none;
  border-top: 1px solid var(--yellow-color);
  height: 5px;
}

#outline-box h2 {
  margin-inline: 10px;
}

#outline-box ul {
  font-weight: bold;
  margin-left: inherit;
}

#title-button-div {
  background-color: var(--main-bg-color, #F4F4F4);
  width: 100%;
  padding: 7% 5%;
}

.main-photo {
  width: calc(100% - 2rem);
  height: auto;
  margin: 1rem;
  border-radius: 50%;
}

#resume div.subsection {
  border-left: 2.5px solid var(--primary-color, darkgray);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* Education section */
#education {
  margin: 0;
  padding-block: 2rem;
}

.subsection.education {
  color: var(--secondary-color, #020202);
  margin-inline: 0;
  padding: 1.5rem;
  border-radius: 0;
}

/* chart Bar*/

.bar-chart:not(:empty) {
  display: inline-block;
  margin-top: 10%;
  padding-bottom: 5%;
  margin-inline: 1.5%;
  border: 1px solid var(--soft-color);
  border-radius: 15%
}


.graph-title {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: bold;
}

/* Section Experiences */
.workplace .header p {
  text-shadow: 0 0 black;
}

/* Aside Bar */

aside#sidebar {
  position: fixed;
  display: none;
  top: 5rem;
  right: 10px;
  width: calc(65% - 10px);
  padding-block: 10px;
  max-height: 75%;
  color: var(--dark-color, black);
  background-color: var(--white-color, white);
  z-index: 2;
  font-size: 0.85rem;
  box-shadow: 0 5px 10px rgba(10, 10, 10, 0.15);
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}

aside#sidebar a {
  display: block;
  width: calc(100%-1.5rem);
  padding-block: .75rem;
  padding-left: 1.5rem;
  height: auto;
  text-decoration: none;
  color: var(--dark-color, black);
  border-top: 1px solid var(--light-color, lightgray);
  border-radius: 0;
  text-align: left;
  font-size: 1rem;
}

aside#sidebar a:last-child {
  border-bottom: 1px solid var(--light-color, lightgray);
}

aside#sidebar p {
  margin-left: 15px;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 1;
}


/* to Top */
button.to-top {
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  bottom: 7.5%;
  right: 10%;
  border-radius: 50%;
  border: none;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--primary-color, blue);
  font-size: 2rem;
  z-index: 1;
}


footer {
  text-align: center;
  background-color: var(--secondary-color, #020202);
  color: var(--main-bg-color, white);
  position: absolute;
  left: 0;
  right: 0;
  padding-block: 3%;
}

footer>div {
  margin-block: .75rem;
}

.footer-icon {
  color: white;
}

.footer-link {
  text-decoration: none;
  margin: 5%;
}

footer hr {
  margin: 0;
  border: none;
  border-top: 1px solid var(--white-color, white);
}

div#copyright-info .date-year {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 0.5rem
}


@media (min-width: 768px) {


  #titre-info {
    align-self: flex-end;
  }

  .main-photo {
    width: 50%;
    height: auto;
    max-width: 250px;
    margin: 1rem 10% 1rem 3.5rem;
    float: right;

  }

  .bar-chart {
    float: right;
    margin-left: 15px;
    margin-top: 15%
  }
}

@media print {
  body {
    background-color: var(--main-bg-color, #F8F8F8);
  }
}

/* Contact Page */
.contact-me {
  background-color : var(--white-color,  white);
  width: cal(100% - 2px);
  padding: 1.5rem 0 2rem;
  margin-top: 1.5rem;
  border: 1px solid var(--dark-color, black);
}

.contact-me h4 {
  margin-left : 1.5rem;
}

.contact-me form {
  display: flex;
  flex-direction: column;
  width: (100% -3rem);
  margin-top: 1.5rem;
  padding: 1.5rem;
}

.contact-me hr {
  height: 1px;
  color: #000;
  border-top: 1px solid var(--dark-color, black) !important;
}

.contact-me form .input-field {
  display: block;
  padding-inline: 5px;
  width: calc(100% - 10px);
  border: none;
}

.contact-me form input {
  height: 40px;
}

.contact-me form button {
  margin-top: 10px;
  align-self: flex-end;
}

div.contact-info {
  background-color: var(--white-color, white);
  padding: 2rem 1rem;
  border-radius: 15px;
}

div.contact-info>h5 {
  margin-bottom: 5%
}

div.contact-info a {
  display: block;
  margin-top: 10px;
  text-decoration: none;
  color: var(--dark-color, black);
}

div.contact-info a span {
  margin-inline: 10px;
  color: var(--primary-color, black);
}