:root {
  /*Color Variables*/
  --primary-color: #680000;
  --light-color: #F8F8F8;
  --dark-color: #020202;
  --soft-color: wheat;

  --secondary-color: #444444;
  --yellow-color: #ffc107;

  /*Font Families*/
  --heading-font: "Montserrat-Bold";
  --body-font: "Montserrat";
  --specific-font: "Ubuntu";
  --light-font: "Montserrat-Light";
}

html {
  scroll-behavior: smooth;
}

section {
    padding-top: 2%;
}

li div {
  margin-bottom: 8%;
}

.container-fluid {
  padding: 3% 7%;
}

.container {
  margin: 3%;
}

.container ul.list-head-section {
  padding: 2%;
}

.dark-section {
  background-color: var(--primary-color, #020202);
  color: var(--light-color, #f8f8f8);
}

.white-section {
  background-color: var(--light-color, #f8f8f8);
  color: var(--dark-color, #020202);
}

.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 5%;
}

.section-heading {
  font-size: 1.5rem;
  font-family: var(--specific-font, "Times New Roman");
  line-height: 1.5;
  padding: auto 5%;
  text-transform: uppercase;
}

/* Section Titre */

#titre {
  margin-bottom: 5%;
}

#titre-info {
  padding-bottom: inherit;
}

#titre .section-heading {
  padding: 2% 0;
}


#titre-info .image-div {
  margin-left: 3%;
  width: 100px;
  height:  100px;
  background-image: url("Luzvander.jpg");
  background-size: 100px;
  border: 1px solid var(--yellow-color, #ffc107);
  border-radius: 50%;
}

#outline-box {
  margin: 5%;
  border: 1px solid;
  border-color: var(--yellow-color);
  border-top-style: none;
  margin: 5% auto 3%;
  max-width: 300px;
}

#outline-box li {
  font-weight: bold;
  cursor: pointer;
}

.header-div {
  background-color: darkgray;
  color: var(--secondary-color, #020202);
  margin-bottom: 7%;
  position: relative;
  display: grid;
  grid-gap: 2px;
  text-align: center;
  grid-template-columns: 20% 80%;
  max-width: 300px;
}
.header-div div {
  display: flex;
  align-item: center;
  justify-item: start;
  align-items: center;
  justify-content: center;
}

.icon-div {
  border : 1px solid var(--soft-color, wheat);
  border-radius: 10%;
}

.header-div div h2 {
  margin : 0;
  justify-self: flex-start;
  text-decoration : underline;
}

#formation-body {
  padding : inherit;
}

#formation-body h4 {
  display: inline-block;
  color : var(--light-color, white);
  background-color: var(--secondary-color, darkgray);
  padding-inline: 15px;
}
/* Section Competences */

.cp-hr {
  margin: 0;
}

#competence-body {
  padding: inherit;
}

#competence-body div {
  margin: 5% auto;
}

/* chart Bar*/

.graph-title {
  font-family: "Montserrat";
  font-style: italic;
  font-weight: bold;
}

svg.dev-competence {
  margin-bottom : 15px;
}
/* Section Experiences */

#experience {
  margin-bottom: 2em;
}

#experience-body {
  padding: inherit;
}

.workplace .header p {
  text-shadow: 0 0 black;
}

#to-top-link {
  position: fixed;
  bottom: 15%;
  left: 80%;
  visibility: hidden;
  text-align : center ;
}
#to-top-link .to-top-icon {
  color: var(--primary-color, #020202);
  background-color: white;
  border-radius : 50%;
  font-size: 40px;
  display : block;
}

#footer {
  text-align: center;
  background-color: var(--secondary-color, #020202);
  color: var(--light-color, white);
  position: absolute;
  left: 0;
  width: 100vw;
}

#footer div {
  margin-bottom: 3%;
}

.footer-icon {
  margin: 2%;
  color: white;
}
